<h2>Edit House</h2>

<%= form_for @house do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :sigil %>
  <%= f.text_field :sigil %>

  <%= f.submit %>
<% end %>

<%= link_to "Delete", @house, method: :delete, class: "delete" %>
